.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 24px;
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
  position: absolute;
  top: 1238px;
  left: 81%;
  cursor: pointer;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
