* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  color: #21242e;
}

.border {
  border-top: solid 1px #e4e4e4;
  border-right: solid 1px #e4e4e4;
  border-bottom: solid 1px #e4e4e4;
  border-left: solid 1px #e4e4e4;
}

.change-from-light-to-dark {
  color: #d0bc7a;
  &:hover {
    color: #21242e;
  }
}

.change-from-dark-to-light {
  color: #21242e;
  &:hover {
    color: #d0bc7a;
  }
}
