* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
}

.border {
  border: solid 1px #e4e4e4;
}

.change-from-light-to-dark {
  color: #d0bc7a;
  &:hover {
    color: #21242e;
  }
}

.change-from-dark-to-light {
  color: #21242e;
  &:hover {
    color: #d0bc7a;
  }
}
