.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  height: 64px;

  &__title {
    display: flex;
    justify-content: center;
    opacity: 100%;
    color: #d0bc7a;
    cursor: pointer;

    &:hover {
      opacity: 72%;
    }
  }
  &__title-image {
    width: 80.26px;
  }

  &__options {
    display: flex;
    gap: 32px;
  }

  &__phone {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    gap: 7px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__phone-number {
    display: flex;
  }

  &__phone-icon {
    stroke: currentColor;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__sections {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 32px;
  }

  &__sections-icon {
    width: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
  }

  &__sections-icon-saved {
    border-radius: 100px;
    background-color: #21242e;
    color: #ffffff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    padding: 3px 2px 3px 2px;
    width: 13px;
    height: 14px;
    position: absolute;
    top: -7px;
    left: 19px;
  }

  &__menu-burger {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 32px;
    height: 32px;
  }

  &__menu-burger-svg {
    width: 20px;
    height: 8px;
    fill: #21242e;

    &:hover {
      height: 12px;
      fill: #d0bc7a;
    }
    &:hover path {
      d: path("M0 1.75H20V0.25H0V1.75ZM0 11.75H20V10.25H0V11.75Z");
      d: "M0 1.75H20V0.25H0V1.75ZM0 11.75H20V10.25H0V11.75Z";
    }
  }
}
