@media screen and (max-width: 466px) {
  .header {
    padding-left: 21px;
    padding-right: 21px;

    &__options {
      gap: 0px;
    }

    &__phone-number {
      display: none;
    }

    &__menu-burger {
      margin-left: 16px;
    }
  }
}
@media screen and (max-width: 615px) {
  .menu {
    &__content {
      flex-direction: column;
      height: 772px;
      width: 100%;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 16px;
      padding-top: 96px;
      gap: 40px;
    }

    // &__category {
    //   gap: 16px;
    // }

    // &__category-title {
    //   font-size: 16px;
    // }

    // &__category-list {
    //   gap: 8px;
    // }
  }
}
