.products {
  display: flex;
  flex-direction: row;
  gap: 32px;

  &__slide {
    display: flex !important;
    flex-direction: column !important;
    background-color: #f7f7f7;
    width: 256px !important;
    height: 418px !important;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
  }

  &__header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 232px;
    top: 24px;
  }

  &__product-type {
    background-color: #eb5757;
    color: #ffffff;
    padding: 4px 12px 6px 12px;
    border-radius: 100px;
  }

  &__save {
    color: #e4e4e4;
    width: 21px;
    height: 17.78px;
    z-index: 1;

    &:hover {
      color: rgba($color: #21242e, $alpha: 0.4);
    }
  }

  &__product-image {
    width: 256px;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__picture {
    height: 312px;
    width: 218px;
    position: absolute;
    top: -41px;
  }
}
