.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  height: 1110px;
  padding-top: 112px;

  &__list {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }

  &__profile-group {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__item {
    font-weight: 500;
    font-size: 14px;
  }
}
