.profile {
  display: flex;
  flex-direction: column;
  border-top: 0px;
  border-bottom: 0px;

  &__title {
    width: 80vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 112px 76px 76px 76px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 80px;
    font-weight: 400;
    line-height: 80px;
  }

  &__data {
    padding: 76px;
    gap: 56px;
    display: flex;
    flex-direction: column;
  }

  &__data-title {
    font-size: 24px;
    font-weight: 500;
    color: #21242e;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__group-field-name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgba($color: #21242e, $alpha: 0.4);
  }

  &__group-input {
    outline: 0;
    border: 0;
    border-radius: 4px;
    background-color: #f7f7f7;
    height: 56px;
    width: 544px;
    font-size: 16px;
    line-height: 24px;
    padding: 16px;
    color: rgba($color: #21242e, $alpha: 0.4);

    &:hover {
      color: #21242e;
    }

    &:focus {
      border: solid 1px #000000;
      color: #21242e;
    }
  }

  &__save-changes {
    padding: 76px;
    border-left: 0px;
    border-bottom: 0px;
  }

  &__save-changes-button {
    background-color: #21242e;
    border-radius: 4px;
    padding: 16px 32px;
    color: #ffffff;
    width: 231px;
    text-align: center;

    &:hover {
      background-color: #d0bc7a;
    }

    &:active {
      opacity: 50%;
    }
  }
}
